    a:hover{
    background: #e9eaec;
    }
    li:hover span:hover{
    color: black !important;
    }

    .active{
    background: #e9eaec;
    color: black !important;
    }

    li.active span{
        color: black !important;
    }
    